  <header id="mainmenu">
    <div class="ui two column mobile tablet only page grid">
      <div class="ten wide column">
        <a href="//iranonrails.ir"><h1 class="logo">IranOnRails</h1></a>
      </div>
      <div class="six right aligned wide column">
        <div class="ui horizontal huge list nav">
          <div class="item point toggle btn">
            <i class="reorder icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="ui two column computer only page grid">
      <div class="four wide column">
        <a href="//iranonrails.ir"><h1 class="logo">IranOnRails</h1></a>
      </div>

      <div class="twelve wide right floated aligned column halfmargin">

        <div class="ui horizontal huge list nav">
          <a class="item" href="/program/">
            Program
          </a>
          <a class="item" href="/register/">
            Registration
          </a>
          <a class="item" href="/policies/">
            Policies
          </a>
          <a class="item" href="/sponsors/">
            Sponsors
          </a>
          <a class="item" href="/">
            <i class="home icon"></i>
          </a>
        </div>

      </div>
    </div>
  </header>


  <div id="side" class="ui sidebar floating vertical menu">
    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/program/">
      Program
    </a>
    <a class="item" href="/register/">
      Registeration
    </a>
    <a class="item" href="/policies/">
      Policies
    </a>
    <a class="item" href="/sponsors/">
      Sponsors
    </a>

    <div class="item">
      <a class="blackcolored toggle btn mobile">
        <i class="remove icon"></i> Close
      </a>
    </div>
  </div>
