        <div class="ui center aligned stackable grid">
          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Platinum Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Gold Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Silver Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Bronze Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Advisory Sponsors</div>
              <div class="ui center aligned section divider">
                <a href="//rubycentral.org" class="ui big image" style="display: none;">
                  <img src="http://rubycentral.org/images/logo.png" alt="" />
                </a>
              </div>
            </div>
          </div>

        </div>
