        <div class="ui center aligned stackable grid">
          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Platinum Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="ten wide column">
              <div class="ui huge header">Gold Sponsors</div>
              <div class="ui section divider">
              </div>
            </div>
          </div>
        </div>
