//@import 'semantic-ui';
@import 'variables';
//@import "compass/css3/shared";
//@import "compass/css3";

* {
   padding: 0;
   margin: 0;
}
html, body {
  background: $BG;
  color: $darkgray;
  font-family: 'Exo 2', sans-serif;

}

body {
   width: 100%;
   height: 100%;
   position:absolute;
   margin: 0;
  //border-top: 3px solid $gray;
}

header {
   position:fixed;
   background: white;
   height: 3em;
   width: 100%;
   color: $darkgray;
}

section {
   &.head {
      background: url(image-path('banner.svg')) 0 3em repeat-x transparent;
      height: 50rem;

      .middle {
         color: $darkgray;
         .conflogo {
            margin-top: 20rem;
            font-size: 4em;
         }
      }
   }
   &.about {
      background: $purple;
      height: 50rem;
   }

   &.schedule {
      background: $blue;
      height: 50rem;
   }
   &.sponsors {
      background: $green;
      height: 50rem;
   }
}

footer {
   background: $white;
   height: 5em;
}